body {
    background-color: #ffc800;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

button {
    margin: 30px;
    color: #e22fe2;
    width: 200px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-family: monospace;
    border-radius: 4px;
    cursor: pointer;
    background-color: #500c0c;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.playGround,
.scoreBox,
.info,
.game-code,
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #ffffff;
    border: 5px solid black;
    border-radius: 50%;
    width: 36vw;
    height: 36vw;
    max-width: 400px;
    max-height: 400px;
    margin: auto 40px;
    overflow: hidden;
    font-size: 18px;
}

.scoreBox {
    width: 120px;
    height: 40px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px auto;
    font-size: 20px;
    background-color: #ffffff;
}

.box img {
    width: 70%;
    height: 70%;
}

.game-code {
	display: flex;
    height: 40px;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    border-radius: 4px;
    width: auto;
    width: 300px;
    font-size: 24px;
	font-family: monospace;
	margin-bottom: 20px;
}

.game-code input {
	border: none;
    width: 80%;
	height: 80%;
	outline: none;
	font-size: 24px;
	font-family: monospace;
	text-align: center;
}

.info p {
    margin: 40px auto 0 auto;
    font-family: monospace;
    font-size: 24px;
}

.info a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer
}

.winnerBox {
    border-color: #77ff77;
}

.loserBox {
    border-color: #ff7777;
}

.winnerBackground {
    background-color: #77ff77;
    animation: win_anim 0.5s linear infinite
}

.loserBackground {
    background-color: #ff7777;
    animation: lose_anim 0.5s linear infinite
}
/* 
@keyframes win_anim {
	0% {
		background-color: #ffffff
	}
	25% {
		background-color: #77ff77
	}
	75% {
		background-color: #77ff77
	}
	100% {
		background-color: #ffffff
	}
}

@keyframes lose_anim {
	0% {
		background-color: #ffffff
	}
	25% {
		background-color: #ff7777
	}
	75% {
		background-color: #ff7777
	}
	100% {
		background-color: #ffffff
	}
} */